.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 800px; // Adjust based on your layout
    margin: auto;
    padding: $spacing-md;
    background: $color-background; // Background color for the carousel
    border-radius: $border-radius; // Rounded corners
    box-shadow: $box-shadow; // Light shadow
  
    .carousel-content {
      text-align: center;
      flex-grow: 1;
  
      h2 {
        font-size: $font-size-large; // Adjust title font size
        margin-bottom: $spacing-md; // Spacing below the title
        color: $color-text; // Title color
      }
  
      p {
        font-size: $font-size-medium; // Adjust description font size
        color: $color-text; // Description color
      }
    }
  
    .carousel-button {
      background: transparent;
      border: none;
      font-size: 30px; // Adjust button font size
      cursor: pointer;
      color: $primary-color; // Button color
      transition: color $transition-speed;
  
      &:hover {
        color: $color-hover; // Darker shade on hover
      }
  
      &.prev {
        position: absolute;
        left: 10px; // Positioning for previous button
      }
  
      &.next {
        position: absolute;
        right: 10px; // Positioning for next button
      }
    }
  }  