@import '../variables.scss';

.cta-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-background;
  padding: $spacing-xxl;
  gap: $spacing-xxl;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  transition: background-color $transition-speed;
  
  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
    text-align: center;
  }

   // Apply order based on odd/even
   &:nth-child(odd) {
    order: 1; // First occurrence
  }

  &:nth-child(even) {
    order: 2; // Second occurrence
  }
  
  .cta-content {
    max-width: 500px;

      &:nth-child(odd) {
        order: 2; // Applies to every odd child of cta-container
      }

    .cta-heading {
      font-size: $font-size-xxl;
      font-family: Tiempos Headline, serif;
      color: $primary-color;
      margin-top: 0;
    }

    .cta-text {
      font-size: $font-size-medium;
      color: $color-text;
      margin-top: 0;
    }

    .cta-form {
      display: flex;
      flex-direction: column;

      input {
        padding: $spacing-sm;
        margin-bottom: $spacing-sm;
        border: 1px solid $color-border;
        border-radius: $border-radius;
        font-size: $font-size-medium;
        width: 50%;
        transition: border-color $transition-speed;

        &:focus {
          border-color: $primary-color;
          outline: none;
        }
      }

      .cta-submit-btn {
        background-color: $primary-color;
        color: $white;
        padding: $get-started-padding;
        width: 20%;
        border: none;
        border-radius: $get-started-border-radius;
        cursor: pointer;
        transition: background-color $transition-speed;

        &:hover {
          background-color: $color-primary-dark;
        }
      }
    }
  }

  .cta-image {
    img {
      max-width: 100%;
      border-radius: $border-radius;
    }
  }

}
