@import '../variables.scss';

.cta-wrapper {
  display: flex;
  flex-direction: column; // Stacking vertically by default
}

.cta-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-background;
  padding: 0 $spacing-md $spacing-xxl;
  padding-right: 0;
  gap: $spacing-xxl;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  transition: background-color $transition-speed, transform 0.4s ease, opacity 0.4s ease;
  opacity: 0; /* Initially hidden */
  transform: translateY(20px); /* Move it slightly down */
  visibility: hidden; /* Hide it visually at the start */

  &:last-child {
    justify-content: flex-start;
    padding-left: 0;
    gap: 200px;
    .cta-image {
      img {
        margin-top: -200px;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  &:last-child .cta-content {
    order: 2; // Second occurrence
    justify-self: center;
  }

  &.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Back to original position */
    visibility: visible; /* Make it visible */
  }

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
    text-align: center;
  }

  .cta-content {
    max-width: 400px;

    .cta-heading {
      font-size: $font-size-xxl;
      width: 120%;
      font-family: $font-family-heading;
      color: $black;
      margin-top: 0;
    }

    .cta-text {
      font-size: $font-size-medium;
      line-height: 24px;
      color: $color-text;
      margin-top: 0;
    }

    .cta-form {
      display: flex;
      flex-direction: column;

      input {
        padding: $spacing-sm;
        margin-bottom: $spacing-sm;
        border: 2px solid $color-border;
        border-radius: $border-radius;
        font-size: $font-size-small;
        font-family: $font-family-text;
        width: 90%;
        transition: border-color $transition-speed;

        &:focus {
          border-color: $primary-color;
          outline: none;
        }
      }

      .cta-submit-btn {
        background-color: $primary-color;
        color: $white;
        font-weight: 600;
        padding: $get-started-padding;
        width: 25%;
        border: none;
        border-radius: $get-started-border-radius;
        cursor: pointer;
        transition: background-color $transition-speed;

        &:hover {
          background-color: $color-primary-dark;
        }
      }
    }
  }

  .cta-image {
    img {
      max-width: 100%;
      max-height: 800px;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
  }
}

.qr-code-container {
  display: flex;
  align-items: center;
  margin-top: $spacing-lg; // Adjust as needed
  gap: $spacing-md;

  .qr-code {
    width: 50px; // Adjust size as needed
    height: auto; // Maintain aspect ratio
    margin-top: $spacing-md; // Space between text and QR code
  }
}

.partner-container {
  .cta-submit-btn {
    background-color: $primary-color;
    color: $white;
    font-weight: 600;
    padding: $get-started-padding;
    border: none;
    border-radius: $get-started-border-radius;
    cursor: pointer;
    transition: background-color $transition-speed;

    &:hover {
      background-color: $color-primary-dark;
    }
  }
}