@import '../variables.scss';

.cta-wrapper {
  display: flex;
  flex-direction: column; // Stacking vertically by default
}

.cta-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-background;
  padding: $spacing-xxl;
  padding-right: 0;
  gap: $spacing-xxl;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  transition: background-color $transition-speed;

  &:nth-child(even) {
    justify-content: center;
  }

  &:nth-child(even) .cta-content {
    order: 2; // Second occurrence
    justify-self: center;
  }

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
    text-align: center;
  }

  .cta-content {
    max-width: 400px;

    .cta-heading {
      font-size: $font-size-xxl;
      font-family: Tiempos Headline, serif;
      color: $primary-color;
      margin-top: 0;
    }

    .cta-text {
      font-size: $font-size-medium;
      color: $color-text;
      margin-top: 0;
    }

    .cta-form {
      display: flex;
      flex-direction: column;

      input {
        padding: $spacing-sm;
        margin-bottom: $spacing-sm;
        border: 1px solid $color-border;
        border-radius: $border-radius;
        font-size: $font-size-medium;
        width: 60%;
        transition: border-color $transition-speed;

        &:focus {
          border-color: $primary-color;
          outline: none;
        }
      }

      .cta-submit-btn {
        background-color: $primary-color;
        color: $white;
        padding: $get-started-padding;
        width: 25%;
        border: none;
        border-radius: $get-started-border-radius;
        cursor: pointer;
        transition: background-color $transition-speed;

        &:hover {
          background-color: $color-primary-dark;
        }
      }
    }
  }

  .cta-image {
    img {
      max-width: 100%;
      // border-radius: $border-radius;
      max-height: 700px;
    }
  }
}