@import '../variables.scss';

.footer {
  background-color: $dark;
  color: $white;
  padding: $spacing-sm;

  @media (min-width: $breakpoint-tablet) {
    padding: $spacing-lg; // For medium screens (768px and up)
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: $spacing-md;
    gap: $spacing-lg;

    @media (min-width: $breakpoint-tablet) {
      padding: $spacing-lg; // For medium screens (768px and up)
      flex-direction: row;
    }

    .footer-logo {
      flex: 1;

      .logo {
        color: $white;
        font-size: 1.8rem;
        font-weight: bold;
      }
    }

    .footer-columns {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex: 2;

      @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
      }

      .footer-section {
        margin: 0;

        @media (min-width: $breakpoint-tablet) {
          margin: 0 20px;
        }

        &__title {
          color: $color-text;
        }

        &__social {
          margin-top: $spacing-md;
          align-items: center;
          display: flex;
          font-size: $font-size-large;
          flex-direction: row;
          gap: $spacing-md;

          a {
            color: $white;
            transition: color $transition-speed ease;
          }

          a:hover {
            color: $primary-color;
          }
        }

        h4 {
          margin-bottom: 10px;
          font-size: 1.2rem;
        }

        ul {
          list-style-type: none;
          padding: 0;

          li {
            margin: $spacing-sm 0;

            a {
              color: $white;
              text-decoration: none;
              border-bottom: 2px solid transparent;
              transition: border-bottom $transition-speed ease;

              &:hover {
                border-bottom: 2px solid $secondary-color;
              }
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    color: $color-text;
    text-align: left;
    margin-top: 20px;
    font-size: 0.9rem;
  }
}
