@import '../variables.scss';

.footer {
  background-color: $dark;
  color: $white;
  padding: $spacing-sm;

  @media (min-width: $breakpoint-tablet) {
    padding: $spacing-lg; // For medium screens (768px and up)
  }

  &-pre {
    margin: $spacing-sm $spacing-lg;
    border-bottom: 1px solid $white;
    .get-started-container {
      display: flex;
      gap: $spacing-md;
      align-items: center;
      padding: 0 0 $spacing-lg 0;

      .get-started-title {
        font-size: $font-size-medium;
        color: $white;
        margin: 0;
      }

      .get-started-button {
        background-color: $get-started-bg;
        border: 2px solid $white;
        font-weight: 600;
        color: $get-started-text-color;
        padding: $get-started-padding;
        border-radius: $get-started-border-radius;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $color-primary-dark;
          color: $white; 
        }

        &:focus {
          outline: none; // Remove outline on focus
        }
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: $spacing-md;
    gap: $spacing-lg;

    @media (min-width: $breakpoint-tablet) {
      padding: $spacing-lg; // For medium screens (768px and up)
      flex-direction: row;
    }

    .footer-logo {
      flex: 1;

      .logo {
        color: $white;
        padding-top: 0;
        font-size: 36px;
        font-weight: bold;
      }
    }

    .footer-columns {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex: 2;

      @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
      }

      .footer-section {
        margin: 0;

        @media (min-width: $breakpoint-tablet) {
          margin: 0 20px;
        }

        &__title {
          color: $color-text;
          margin-top: 0;
        }

        &__social {
          margin-top: $spacing-md;
          align-items: center;
          display: flex;
          font-size: $font-size-large;
          flex-direction: row;
          gap: $spacing-md;

          a {
            color: $white;
            transition: color $transition-speed ease;
          }

          a:hover {
            color: $secondary-color;
          }
        }

        h4 {
          margin-bottom: 10px;
          font-size: 1.2rem;
        }

        ul {
          list-style-type: none;
          padding: 0;

          li {
            margin: $spacing-sm 0;

            a {
              color: $white;
              text-decoration: none;
              border-bottom: 2px solid transparent;
              transition: border-bottom $transition-speed ease;

              &:hover {
                border-bottom: 2px solid $secondary-color;
              }
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    color: $color-text;
    text-align: left;
    margin-top: 20px;
    font-size: 0.9rem;
  }
}
