@import '../variables.scss';

.macrocategory {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  padding: $spacing-lg 0;
  margin-bottom: $spacing-md;
  border-bottom: 2px solid $color-border;

  &--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    .macrocategory-heading {
      display: inline-flex;
      font-family: $font-family-heading;
      font-size: $font-size-large;
      font-weight: 700;
      margin: 0;
      margin-right: $spacing-md;
      flex: 1;
      color: $color-primary-dark;

      &__icon {
        font-size: $font-size-large
      }
    }

    .macrocategory-description {
      flex: 1;
      font-family: $font-family-text;
      font-size: $font-size-medium;
      margin: $spacing-sm 0 0;
      color: $color-text;
    }
  }

  .macrocategory-button {
    align-self: flex-start;
    font-weight: 600;
    background-color: $color-card-background; // Background color for login button
    border: 2px solid $color-border; // Light border for login button
    border-radius: $border-radius;
    padding: $spacing-sm $spacing-md;
    font-family: $font-family-text;
    font-size: $font-size-medium;
    cursor: pointer;
    transition: background-color $transition-speed;

    &:hover {
      border: 2px solid $black;
    }
  }

  &-carousel {
    display: flex;
    align-items: center;
    gap: $spacing-md;
    padding: $spacing-lg $spacing-md;
    background-color: $light-grey;
    border-radius: $border-radius;

    .carousel-arrow {
      background: $get-started-bg;
      border: none;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $font-family-text;
      cursor: pointer;

      &:hover {
        background-color: $color-hover;
        color: $white;
      }
    }

    .carousel-track {
      display: flex;
      overflow-x: auto;
      gap: $spacing-md;
      padding: $spacing-md;
      scroll-behavior: smooth;

      .carousel-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: $spacing-md;
        background-color: $color-card-background;
        border: 1px solid $color-border;
        border-radius: $border-radius;
        min-width: 120px;
        box-shadow: 0px 4px 0px 1px $color-border;
        cursor: pointer;

        &:hover {
          box-shadow: 0px 4px 0px 1px $dark-grey;
          border: 1px solid $dark-grey;
        }

        .card-icon {
          font-size: $font-size-large;
          margin-bottom: $spacing-sm;
          color: $primary-color;
        }

        .card-label {
          font-family: $font-family-text;
          font-size: $font-size-medium;
          color: $color-text;
        }
      }
    }
  }
}