@import '../variables.scss';

.top-categories {
  padding: $spacing-md $spacing-md $spacing-xxl;
  background-color: $white;

  &__heading {
    font-size: $font-size-heading;
    color: $black;
    text-align: center;
    margin-bottom: $spacing-lg;
    font-family: $font-family-heading;
  }

  .categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: $spacing-lg;
    max-width: 1200px;
    margin: 0 auto;
  }

  .category-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: $spacing-md;
    background-color: $color-card-background;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      cursor: pointer;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

      &::before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        height: 100%;
        background-color: $color-hover;
        transition: bottom 0.4s ease;
      }
    }

    &::before {
      content: '';
      position: absolute;
      bottom: -100%;
      left: 0;
      right: 0;
      height: 100%;
      background-color: $color-hover;
      transition: bottom 0.4s ease;
    }
  }

  .category-icon {
    font-size: 3rem;
    color: $primary-color;
    margin-bottom: $spacing-sm;
    transition: color 0.3s ease;
  }

  .category-name {
    font-size: $font-size-medium;
    color: $color-text;
    font-weight: 600;
  }
}
