@import '../variables.scss';

.become-partner {
  background-color: $white;
  color: $color-text;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;

  .intro {
    font-size: $font-size-large;
    margin-bottom: $spacing-lg;
    font-weight: 500;
  }
  .cta-image {
    img {
      width: 100%;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
    }
  }

  .stats, .how-partner-works, .benefits {
    width: 100%;
    margin-bottom: $spacing-lg;

    h2, h3 {
      color: darken($primary-color, 10%);
      margin-bottom: $spacing-sm;
      font-size: $font-size-large;
    }

    p, ol, ul {
      font-size: $font-size-medium;
      margin-bottom: $spacing-md;
    }

    .process-list {
      display: grid;
      gap: $spacing-md;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      padding: 0 $spacing-md;
    }
  }

  .benefits {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style-type: none;
      padding: 0;

      li {
        text-align: center;
        margin-bottom: $spacing-md;

        strong {
          color: $primary-color;
          font-size: $font-size-medium;
        }
      }
    }
  }

  .info-request-form {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    width: 100%;
    margin-top: $spacing-lg;

    .form-fields {
      display: grid;
      gap: $spacing-sm;
      grid-template-columns: 1fr 1fr;
      @media (max-width: 600px) {
        grid-template-columns: 1fr;
      }

      label {
        display: flex;
        flex-direction: column;
        font-size: $font-size-small;
        color: $color-text;

        input {
          padding: $spacing-sm;
          border: 1px solid $color-border;
          border-radius: $border-radius;
          font-size: $font-size-medium;
          margin-top: $spacing-xs;
          transition: border-color 0.3s ease;

          &:focus {
            border-color: $primary-color;
            outline: none;
          }
        }
      }
    }

    button {
      padding: $spacing-sm $spacing-lg;
      background-color: $primary-color;
      color: $white;
      border: none;
      border-radius: $border-radius;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;
      align-self: center;

      &:hover {
        background-color: $color-primary-dark;
        transform: scale(1.05);
      }
    }

    .agreement {
      font-size: $font-size-small;
      color: $color-text;
      margin-top: $spacing-xs;
      text-align: center;
    }
  }
  .dynamicText {
    color: $color-hover;
  }
}