@import '../variables.scss';

.our-mission-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $dark; // Ensure this variable is defined
  color: $white; // Ensure this variable is defined
  padding: $spacing-lg; // Ensure this variable is defined

  &--main-container {
    max-width: 800px;
    h1 {
      font-size: $font-size-xxl; // Ensure this variable is defined
      margin-bottom: $spacing-md; // Ensure this variable is defined
      text-align: center;
    }
    h3 {
      margin-top: $spacing-xxl;
      font-size: $font-size-xxl;
    }
    p {
      margin-bottom: $spacing-lg; // Ensure this variable is defined
      line-height: 1.6; // Adjust for readability
      text-align: left;
      font-size: $font-size-medium;
    }
  }
  .how-it-works {
    padding-top: $spacing-md;
    padding-bottom: $spacing-lg;
  }
} 