/* Color Variables */
// $primary-color: #456dff;
$primary-color: #AA2B2D; //red
$color-primary: #5bc0de; //blue
$color-primary-dark: #1075a8;
// $secondary-color: #FFC700; //yellow
$secondary-color: #AA2B2D;
$color-background: #f7f7f7;
$color-text: #636161;
$color-card-background: #ffffff;
$color-border: #ebebeb;
$color-hover: #79b2d2;
$dark: #151522;
$white: #fff; 
$black: #000;

/* Font Size Variables */
$font-size-small: 14px; /* Small font size */
$font-size-medium: 16px; /* Medium font size */
$font-size-large: 20px; /* Large font size */
$font-size-heading: 36px; /* Heading font size */
$font-size-xxl: 48px;

/* Spacing Variables */
$spacing-xs: 5px; /* Extra small spacing */
$spacing-sm: 10px; /* Small spacing */
$spacing-md: 20px; /* Medium spacing */
$spacing-lg: 40px; /* Large spacing */
$spacing-xxl: 120px;

/* Border Radius */
$border-radius: 20px; /* Rounded corners for a modern look */

/* Box Shadow */
$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); /* Soft shadow for cards and buttons */

/* Transition */
$transition-speed: 0.3s; /* Speed for transitions */

/* Font */
$font-family: 'Circular', 'Roboto', sans-serif; /* Font family */
$font-family-logo: 'Playfair Display', serif;
$font-color: #333333; /* Default font color */
$background-color: #f9f9f9; /* Background color */

/* Viewport Mixins */
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-desktop-xl: 1200px;

/* Buttons */
$get-started-bg: transparent;
$get-started-hover-bg: $white;
$get-started-text-color: $white;
$get-started-padding: $spacing-sm;
$get-started-border-radius: $border-radius;