@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asset&family=Bungee+Tint&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+NP+Hmong:wght@400..700');


/* Color Variables */
// $primary-color: #456dff;
$primary-color: #AA2B2D; //red
$color-primary: #5bc0de; //blue
$color-primary-dark: #0c4ca9d4;
// $secondary-color: #FFC700; //yellow
$secondary-color: #AA2B2D;
$color-background: #f7f7f7;
$color-text: rgb(72 72 72);
$color-card-background: #ffffff;
$color-border: #ebebeb;
$light-grey: #f8f8f8;
$dark-grey: #cbcbcb;
$color-input: #767776;
$color-hover: #0c4ca9d4;
$dark: #151522;
$white: #fff; 
$black: #000;
$success-border: #368f24;
$success-background: #29b551;

/* Categories colors */
$icon-purple: #6b2ecd;
$icon-orange: #e37916;
$icon-yellow: #f0ba17;
$icon-blue: #223c9d;
$icon-green: #0f8c30;
$icon-red: #e22002;
$icon-brown: #691F1F;
$icon-dark-blue: #40757D;

/* Font Size Variables */
$font-size-small: 14px; /* Small font size */
$font-size-medium: 18px; /* Medium font size */
$font-size-large: 24px; /* Large font size */
$font-size-heading: 36px; /* Heading font size */
$font-size-xxl: 48px;

/* Spacing Variables */
$spacing-xs: 5px; /* Extra small spacing */
$spacing-sm: 10px; /* Small spacing */
$spacing-md: 20px; /* Medium spacing */
$spacing-lg: 40px; /* Large spacing */
$spacing-xxl: 120px;

/* Border Radius */
$border-radius: 6px; /* Rounded corners for a modern look */

/* Box Shadow */
$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); /* Soft shadow for cards and buttons */

/* Transition */
$transition-speed: 0.3s; /* Speed for transitions */

/* Font */
$font-family-text: 'Reddit Sans', 'Roboto', sans-serif;
$font-family-logo: 'Playfair Display', serif;
$font-family-heading: "Noto Serif NP Hmong", serif;
$font-color: #333333; /* Default font color */
$background-color: #f9f9f9; /* Background color */

/* Viewport Mixins */
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-desktop-xl: 1200px;

/* Buttons */
$get-started-bg: transparent;
$get-started-hover-bg: $white;
$get-started-text-color: $white;
$get-started-padding: $spacing-sm;
$get-started-border-radius: $border-radius;