@import '../variables.scss';

.logged-in {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $spacing-md $spacing-lg;
        .logo {
            font-size: 24px;
            font-weight: bold;
            color: $primary-color; // Use your primary color
            padding: 0;
        }

        .left {
            display: flex;
            align-items: center;
            gap: $spacing-lg;
        }

        .right {
            display: flex;
            align-items: center;
            gap: $spacing-lg;
        }

        .nav {
            display: flex;
            gap: $spacing-md;
            align-items: center;

            .nav-link {
                text-decoration: none;
                color: $color-text; // Use your text color
                font-size: $font-size-medium;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .premium {
            .premium-link {
                text-decoration: none;
                color: $color-primary-dark; // Use your primary color
                font-weight: bold;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .hamburger {
            font-size: 24px;
            cursor: pointer;
        }
    }

    .dropdown-menu {
        position: absolute;
        top: 60px; // Adjust based on your header height
        right: 20px; // Adjust as needed
        background-color: $white; // Define your dropdown background color
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: $border-radius; // Use your border radius variable
        z-index: 1000; // Ensure it appears above other content

        .dropdown-item {
            padding: $spacing-sm;
            text-decoration: none;
            color: $color-text; // Use your text color
            display: block;

            &:hover {
                background-color: $color-hover; // Define hover color in variables.scss
            }
        }
    }

    .main-content {
        padding: $spacing-lg $spacing-xxl $spacing-xxl;

        h1 {
            font-size: 32px;
            color: $black; // Use your black color variable
        }
    }

    .filters {
        border-bottom: 1px solid $color-border;

        h2 {
            width: 100%; // Make headings full width
            margin-top: $spacing-lg; // Add margin for spacing
        }

        .filter-buttons {
            display: flex;
            overflow-x: auto; // Enable horizontal scrolling
            white-space: nowrap;

            .filter-button {
                min-width: 110px; // Set a minimum width for buttons
                margin-right: $spacing-sm; // Add margin between buttons
                display: flex;
                flex-direction: column;
                align-items: center;
                background: none; // No backgr
                padding: $spacing-md;
                border: none; // No border
                gap: $spacing-sm;
                cursor: pointer;
                color: $color-text; // Use your text color
                text-align: center;
                border-bottom: 2px solid transparent;

                &:hover {
                    color: $black; // Change color on hover
                    border-bottom: 2px solid $color-text;
                }

                div {
                    font-size: $font-size-small; // Adjust font size as needed
                }
            }
        }
    }

    .view-all-button {
        margin-top: $spacing-lg; // Add margin for spacing
        cursor: pointer;
        background-color: $color-primary; // Example background color
        color: $white; // Example text color
        border: none;
        padding: $spacing-sm;
        border-radius: $border-radius; // Use your border radius variable
    }

    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $white; // Modal background color
        padding: $spacing-lg;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 2000; // Ensure it appears above other content
    }
}